/*GLOBAL VARIBLES*/
@site-spacing: 30px;
@red: red;
@yellow: yellow;
@green: green;
@dark-grey: #8a8a8a;
@black: black;

/* HELPER CLASSES */
.selected {
	background-color: @dark-grey;
}


.canvas {
	max-width: 594px;
	display: inline-block;
	float: left;
	margin-right: @site-spacing;
	div {
		display: inline-block;
		background-color: black;
		height: 18px;
		width: 18px;
		margin: 0px 0px -4px 0px;
		padding: 0px;
	}
}

.white-canvas {
	max-width: 665px;
	border-top: 1px solid black;
	border-left: 1px solid black;

	div {
		background-color: white;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
	}

}

.button-container {
	float: left;
	width: 300px;
	margin-bottom: 30px;
	&.color-buttons {
		margin-bottom: 100%;
	}
}

button {
	padding: 10px;
	width: 205px;
	display: block;
	margin-bottom: 10px;
    border-radius: 7px;
	border: 0px;
	font-size: 1em;
	font-weight: 600;
	background-color: lightgray;
	&:active, &:focus {
		outline: none;
	}
	&:hover {
		background-color: @dark-grey;
		cursor: pointer;
	}
}

.sp-picker-container {
	width: inherit;
	max-width: 205px;
}
