/*GLOBAL VARIBLES*/
/* HELPER CLASSES */
.selected {
  background-color: #8a8a8a;
}
.canvas {
  max-width: 594px;
  display: inline-block;
  float: left;
  margin-right: 30px;
}
.canvas div {
  display: inline-block;
  background-color: black;
  height: 18px;
  width: 18px;
  margin: 0px 0px -4px 0px;
  padding: 0px;
}
.canvas .red {
  background-color: red;
}
.canvas .yellow {
  background-color: yellow;
}
.canvas .green {
  background-color: green;
}
.canvas .black {
  background-color: black;
}
.button-container {
  float: left;
  width: 300px;
}
button {
  padding: 10px;
  width: 205px;
  display: block;
  margin-bottom: 10px;
  border-radius: 7px;
  border: 0px;
  font-size: 1em;
  font-weight: 600;
  background-color: lightgray;
}
button:active,
button:focus {
  outline: none;
}
button:hover {
  background-color: #8a8a8a;
  cursor: pointer;
}
.sp-picker-container {
  width: auto;
}
